{% extends 'Entrega1MV/buscar_post.html' %}
{% block title %}
<h1 class="mb-5">Acerca de..</h1>
{% endblock  %}

{% block  muestra %}
<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
    <h3>Informacion Autor</h3>
    <p class="lead mb-0">
        Mi nombre es Mariano Vanetta tengo 27 años y soy Analista en Computacion (Famaf, UNC).
        Hace año y medio que me dedico a la programacion y me gustaria volver a programar en POO,
        mas concretamente en python que siempre me atrajo.
    </p>
</div>
{% endblock  %}